@keyframes levitate {
  to {
    transform: translateY(10%);
  }
}

@keyframes phaseIn {
  to {
    transform: translateY(50px);
  }
}

@keyframes phaseOut {
  to {
    border-left-width: 100% !important;
  }
}

@keyframes notificationPopUp {
  0% {
    transform: translateY(0px);
  }
  1% {
    transform: translateY(50px);
  }
  90% {
    transform: translateY(50px);
    /* box-shadow: 300px 0px 0px 0px hsla(290, 100%, 50%, 0.8) inset; */
  }
  95% {
    transform: translateY(50px) translateX(-20%);
  }
  96% {
    transform: translateY(50px) translateX(110%);
  }
  100% {
    transform: translateY(50px) translateX(110%);
  }
}

@keyframes shrinkDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
