@import "./animation.css";

.chest-slots {
  display: flex;
  width: 80%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.chest-slots .slot {
  /* height: 200px; */
  height: 30vmin;
  /* width: 150px; */
  width: 25vmin;
  display: flex;
  position: relative;
  justify-content: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.chest-slots .slot::before,
.chest-slots .slot::before,
.chest-slots .slot::before,
.chest-slots .slot::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  color: #ccc;
}
.chest-slots .slot.slot-1::before {
  content: "1";
}
.chest-slots .slot.slot-2::before {
  content: "2";
}
.chest-slots .slot.slot-3::before {
  content: "3";
}
.chest-slots .slot.slot-4::before {
  content: "4";
}

.slot-image {
  width: 100%;
}

.unlock-chest-btn {
  position: absolute;
  top: -50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  left: 0;
  width: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  height: 40%;
  text-align: center;
  overflow: hidden;
  padding: 20px;
  color: white;
  transition: transform 0.2s;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0% 75%);
  background-color: gold;
  border: 1px solid #ccc;
  box-shadow: 0 0 17px rgba(255, 255, 0, 1) inset;
}

.levitation {
  animation-name: levitate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.7s;
}

.shrinkDown {
  animation-name: shrinkDown;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  transform-origin: bottom center;
}

.unlock-chest-btn::before {
  position: absolute;
  content: "";
  top: -50%;
  left: 90%;
  height: 150%;
  transform: rotate(25deg);
  width: 20%;
  background-color: rgba(255, 255, 255, 0.5);
}

.chest-toolTip {
  position: absolute;
  top: -70%;
  pointer-events: none;
  left: 50%;
  z-index: 9999;
  width: max-content;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  background-color: hsla(290, 100%, 50%, 0.8);
  color: white;
  display: none;
}

.tooltip-p {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding: 2px;
}

.unlock-chest-btn:hover + .chest-toolTip {
  display: block;
}
