@import "./chests.css";
@font-face {
  font-family: "Sigmar One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sigmar One", cursive;
}

:root {
  --purple: hsla(290, 100%, 50%, 0.8);
  --gold: gold;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: radial-gradient(
    circle,
    hsl(240, 100%, 80%),
    hsl(220, 99%, 60%)
  );
  /* font-family: custom; */
}

.container {
  position: relative;
  height: 98%;
  width: 98%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.top-container {
  display: flex;
  margin: 0 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  color: hsla(290, 100%, 50%, 0.8);
}
.collection > * {
  margin: 0 10px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
}

.chest {
  width: 200px;
}

.req-chest-btn {
  position: relative;
  /* font-size: 1.5rem; */
  background-color: gold;
  color: white;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 0px 8px 0 5px hsl(54, 78%, 42%);
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: transparent;
  border-left-color: transparent;
}

.req-chest-btn:hover {
  transform: translateY(5px);
}

.req-chest-btn::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 200%;
  transform: rotate(25deg);
  width: 10%;
}

.notification-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
}

.notification {
  padding: 5px 10px;
  background-color: gold;
  color: white;
  height: max-content;
  /* top: -50%; */
  transform: translateY(-100%);
  transition: all 0.2s;
  margin-bottom: 10px;
  display: flex;
  width: max-content;
  justify-content: space-between;
  align-items: center;
  box-shadow: 8px 0px 0px 0px hsla(290, 100%, 50%, 0.8) inset;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  position: relative;
  /* animation-name: phaseIn;
  animation-iteration-count: initial;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
  animation-name: notificationPopUp;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.notification:hover {
  animation-play-state: paused;
  box-shadow: 12px 0px 0px 0px hsla(290, 100%, 50%, 0.8) inset;
}

.timer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.timer-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: width 0.2s;
  height: 5%;
  z-index: 200;
  background-color: var(--purple);
}

.cross {
  height: 100%;
  width: 10%;
  content: "X";
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.cross:hover {
  color: hsla(290, 100%, 50%, 0.8);
}

/* .notification:hover {
} */

/* .notification.phaseOut {
  box-shadow: 300px 0px 0px 0px hsla(290, 100%, 50%, 0.8) inset;
} */
