@import "./chests.css";
@import "./notifications.css";
@import "./card.css";
@font-face {
  font-family: "Sigmar One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  box-sizing: border-box;
  font-family: "Sigmar One", sans-serif;
}

:root {
  --purple: hsla(290, 100%, 50%, 0.8);
  --gold: gold;
}

ul li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: radial-gradient(
    circle,
    hsl(240, 100%, 80%),
    hsl(220, 99%, 60%)
  );
}

.container {
  position: relative;
  height: 98%;
  width: 98%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.top-container {
  display: flex;
  margin: 0 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-variant-numeric: tabular-nums;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: gold;
  color: hsla(290, 100%, 50%, 0.8);
}
.collection > * {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.chest {
  width: 200px;
}

.req-chest-btn {
  position: relative;
  background-color: gold;
  color: white;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 0px 8px 0 5px hsl(54, 78%, 42%);
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: transparent;
  border-left-color: transparent;
}

.req-chest-btn:hover {
  transform: translateY(5px);
}

.req-chest-btn::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 200%;
  transform: rotate(25deg);
  width: 10%;
}

.reset-btn {
  background-color: orangered;
  color: white;
  font-size: 8px;
  position: absolute;
  bottom: 2%;
  left: 0%;
}

.reset-btn:hover {
  opacity: 0.8;
}

.timer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.timer-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: width 0.2s;
  height: 5%;
  z-index: 200;
  background-color: var(--purple);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle-about-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(182, 31, 82);
  border: 5px solid rgb(236, 50, 113);
  color: rgb(202, 123, 94);
  display: flex;
  box-shadow: 0 0 3px 0px black;
  justify-content: center;
  align-items: center;
}

.overlay.showAbout {
  display: flex;
}

.about * {
  pointer-events: none;
}

.overlay > * {
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  max-width: 80%;
  max-height: 90%;
  /* overflow-x: auto; */
  overflow-y: scroll;
}

.overlay table {
  overflow-x: auto;
}

.overlay .question {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.gray-text {
  color: #ccc;
}
